html {
  height: 100%; }

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0C1B2D;
  font-family: 'Outfit', sans-serif; }

.nft-card-container {
  padding: 22px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 18px;
  width: 320px;
  display: flex;
  background-color: #15283F;
  flex-direction: column; }
  .nft-card-container .nft-preview {
    position: relative; }
    .nft-card-container .nft-preview > img {
      border-radius: 10px;
      width: 100%; }
    .nft-card-container .nft-preview > .nft-preview-overlay {
      border-radius: 10px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 99%;
      width: 100%;
      opacity: 0;
      transition: .3s ease;
      background-color: rgba(0, 253, 254, 0.4);
      display: flex;
      align-items: center;
      justify-content: center; }
      .nft-card-container .nft-preview > .nft-preview-overlay > img {
        width: 50px;
        height: 50px; }
    .nft-card-container .nft-preview:hover .nft-preview-overlay {
      opacity: 1;
      cursor: pointer; }
  .nft-card-container > .nft-text-container {
    display: flex;
    flex-direction: column; }
    .nft-card-container > .nft-text-container > .nft-name {
      margin: 20px 0 10px 0;
      width: 100%;
      font-size: 20px; }
    .nft-card-container > .nft-text-container .nft-description {
      margin: 5px 0 5px 0;
      font-weight: 300;
      font-size: 18px;
      width: 100%; }
    .nft-card-container > .nft-text-container > .nft-footer {
      margin: 20px 0 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 1em; }
      .nft-card-container > .nft-text-container > .nft-footer > .nft-price {
        color: #00fdfe;
        display: flex;
        flex-direction: row; }
        .nft-card-container > .nft-text-container > .nft-footer > .nft-price > img {
          height: 1em;
          margin-right: 10px; }
      .nft-card-container > .nft-text-container > .nft-footer > .nft-time-left {
        display: flex;
        flex-direction: row;
        font-weight: 300; }
        .nft-card-container > .nft-text-container > .nft-footer > .nft-time-left > img {
          height: 1em;
          margin-right: 10px; }
  .nft-card-container .nft-artist-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #2E4259;
    padding-top: 10px; }
    .nft-card-container .nft-artist-container > img {
      height: 30px;
      width: auto;
      border-radius: 15px;
      border: 1px solid white;
      margin-right: 10px; }
    .nft-card-container .nft-artist-container > p {
      align-items: flex-end;
      font-size: 1em;
      line-height: 1em; }
    .nft-card-container .nft-artist-container a {
      text-decoration: none; }
  .nft-card-container .focusable {
    color: white;
    transition: .3s ease; }
    .nft-card-container .focusable:hover {
      cursor: pointer;
      color: #00fdfe; }
